<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{template :: head(${titulo})}">
</head>

<body>
    <header th:replace="~{template :: header}"></header>
    <div th:replace="~{template :: menu}"></div>

    <main id="main" class="main">
        <div th:replace="~{template :: breadcrumb(${titulo}, 'h')}"></div>
        <section class="section row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">[[${titulo}]]</h4>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/generar-materias/programa-educativo/} + ${programaEducativo.getIdProgramaEducativo()}" class="row mt-2" method="post">
                            <div class="card col-12 col-lg-6" th:each="grupo : ${grupos}">
                                <div class="card-header">
                                    <h5 class="card-title py-2 my-0" th:text="|${grupo.getTurno() == 1 ? 'Mat' : 'Vesp'}: Sem ${grupo.getSemestre()} - Gpo ${grupo.getGrupo()}|"></h5>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item" th:each="materia : ${materias}" th:if="${materia.getSemestre()} == ${grupo.getSemestre()} and ${materia.getTipoMateria().getIdTipoMateria()} neq 4">
                                            <th:block th:if="${materia.getMateria().contains('OPTATIVA')}">
                                                <div class="row">
                                                    <div class="col-12 mb-2" th:text="${materia.getMateria()}"></div>
                                                    <div class="form-check ms-3" th:each="optativa : ${optativas}" th:if="${optativa.getSemestre()} == ${grupo.getSemestre()}">
                                                        <input type="checkbox" th:name="|gpo-${grupo.getIdGrupo()}-opt-${materia.getIdMateria()}|" th:id="|gpo-${grupo.getIdGrupo()}-opt-${optativa.getIdMateria()}|" class="form-check-input" th:value="${optativa.getIdMateria()}" checked>
                                                        <label th:for="|gpo-${grupo.getIdGrupo()}-opt-${optativa.getIdMateria()}|" th:text="${optativa.getMateria()}"></label>
                                                    </div>
                                                </div>
                                            </th:block>
                                            <div class="form-check" th:unless="${materia.getMateria().contains('OPTATIVA')}">
                                                <input type="checkbox" th:name="|gpo-${grupo.getIdGrupo()}|" th:id="|gpo-${grupo.getIdGrupo()}-${materia.getIdMateria()}|" class="form-check-input" th:value="${materia.getIdMateria()}" checked>
                                                <label th:for="|gpo-${grupo.getIdGrupo()}-${materia.getIdMateria()}|" class="form-check-label">
                                                    <th:block th:text="${materia.getMateria()}"></th:block>
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 ms-2 mt-2">
                                <button type="submit" class="btn btn-primary me-3">Enviar</button>
                                <a th:href="@{/}" class="btn btn-secondary">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <div th:replace="~{template :: footer}"></div>
    <div th:replace="~{template :: scripts}"></div>
    <script src="/js/materias-bach.js"></script>
</body>

</html>